<suite name="ParaBank Test Suite">

 <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
<test name="Register Logout Login Flow">

    <classes>
        <class name="tests.RegisterTest"/>
        <class name="tests.LogoutTest"/>
        <class name="tests.LoginTest"/>
    </classes>

</test>

</suite>
